

<div class="container">

  <div class="box">
    <% unless @cocktails.empty? %>
    <h1>Here is your cocktail list:</h1>
    <div class="row">

        <% @cocktails.each do |cocktail| %>
          <% if !cocktail.rnd_photo_link %>
            <%= render 'cocktails/components/cards', cocktail: cocktail %>
          <% end %>
        <% end %>

    </div>

    <% else %>
      <h1>Create your first cocktail !</h1>
    <% end %>
    <div class="btn-div" id="btn-show-top">
      <%= link_to "The Inspiration Hub!", hub_path %>
    </div>
    <div class="btn-div">
      <%=link_to raw("Cocktail Creation Station <i class='fas fa-rocket'></i>"), new_cocktail_path %>
    </div>
  </div>
</div>

