<div class="container" id="new-container">
  <div class="box" id="new-element">

    <h1>Create a new cocktail</h1>
    <div class="row show-content">
      <div class= 'cocktail_form'>
        <%= render 'form', cocktail: @cocktail %>
      </div>
    </div>
    <div class="btn-div" id="btn-inventory">
      <%= link_to "Back to cocktail inventory", cocktails_path %>
    </div>
  </div>
</div>
