


<div class="col-xs-12 col-sm-4">
  <div class="card round" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path(cocktail.rnd_photo_link) %>);">


    <div class="card-category">
      <p> <%= cocktail.name %> </p>
    </div>


    <a class="card-link" href="<%= inspiration_path(cocktail) %>" ></a>

  </div>
</div>
